# Maze RBG LED 32x32 service

[Unit]
Description=Maze RGB LED system screen server
After=rabbitmq-server.service
Requires=rabbitmq-server.service

[Service]
Type=simple
Restart=always
RestartSec=1
User=root
ExecStart=/usr/local/rgbScreenServer/rgbScreenServer.py --led-brightness 50

#[Install]
#WantedBy=graphical.target
